body {
  background-color: #555;
  color:white;
}

li {
  list-style:none ;
}
/* div ul:nth-of-type(2){
  margin-top: 10vh;
  margin-left: 40vw;
  color: orangered;
  font-size: 3em;
  font-weight: bolder;
} */


div ul:last-of-type{
  margin-left: 35vw;
  color: orangered;
  font-size: 3em;
  font-weight: bolder;
}



