:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}
/* 上面 全局都設定爲box-sizing */

body {
  background-color: #709b90;
  font-family: Arial, Helvetica, sans-serif;
}

/* 相當於將邊界,即第一個的元素排除在外 這是由於第一個不是在其他元素的後面 */
body * + * {
  margin-top: 1.5em;
}

/* 全局margin設定 */
.container {
  max-width: 1080px;
  margin: 0 auto;
}
/* 即利用雙盒子設計可以讓內容居中 */
/* 我理解是container是裏面的盒子 上下爲0 左右爲居中 */

.site-nav {
  display: flex;
  padding: 0.5em;
  background-color: #5f4b44;
  list-style-type: none;
  border-radius: 0.2em;
}

.site-nav > li {
  margin-top: 0;
}

.site-nav > li > a {
  display: block;
  padding: 0.5em 1em;
  background-color: #cc6b5a;
  color: white;
  text-decoration: none;
}

/* 目標所有的li在其他li後面,即不包括第一個 */

.site-nav > li + li {
  margin-left: 1.5em;
}

.site-nav > .nav-right {
  margin-left: auto;
}

.tile {
  padding: 1.5em;
  background-color: #fff;
}

.flex {
  display: flex;
}

.flex > * + * {
  margin-top: 0;
  margin-left: 1.5em;
}
/* 這個相當與嵌套了..從第二個開始mt都是1.5 但是這裏改成第二個二個開始爲mt爲0 所以
第3個tile級sidebar的第二個受到了影響mt是1.5..這個是莫我們需要的.. 
flex和nav的1.5em是有flex的mt決定的..
*/

.column-main {
  flex: 1;
}
/* Creating a flex column on the right */

.column-sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column-sidebar > .tile {
    flex:1;
}


.login-form h3 {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.login-form input:not([type=check]):not([type=radio]){
    display: block;
    width: 100%;
    margin-top: 0;
}

.login-form button {
    margin-top: 1em;
    border: 1px solid #cc6b5a;
    background-color: white;
    padding: .5em 1em;
    cursor: pointer;
}
    
.centered {
    text-align: center;
    font-size: 1.5em;
}

.cost {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: .7;
}


.cost >span {
    margin-top: 0;
}

.cost-currency{
    font-size: 2rem;
}
.cost-dollars{
    font-size: 4rem;
}
.cost-cents {
    font-size: 1.5rem;
    align-self: flex-start;
}

.cta-button{
    display: block;
    background-color: #cc6b5a;
    color: white;
    padding:.5em 1em;
    text-decoration: none;
}
